.navbar{
    background-color: wheat;
}

.navbar .btn-index{
    color: black;
    margin: 1vw;
}

.btn-index:hover{
    cursor: pointer;
}

.modal-content{
    color: black;
}

.dropdown-menu{
    text-align: center;
}

.fa-gear{
    padding-right: 0.5vw;
}

.central{
    margin: 20vw;
    text-align: center;
    font-size: 3vw;
    vertical-align: middle;
    background-color: #c1121f;
    color: #780000;
    border: 3px solid #780000;
}