body{
    /* font-family: "Arial", sans-serif; */
    background-color: #313338;
    color: #D6DBE1;
}

.is-visible{
    display: grid !important;
    grid-template-columns: repeat(4, 25%);
}

#form-picture{
    background-color: white;
    width: fit-content;
}

#profile-picture, #submit-picture{
    display: none;
}

.picture{
    border-radius: 50%;
    margin: 0.5vw
}

.selected-picture{
    filter: brightness(80%);
    border: 3px solid wheat;
}

// form[name="user"] input{
//     width: 25%;
// }